.benefits-section {
  border-radius: 32px 32px 0 0;
  padding: 40px 0;
  background: #fdfdfd;
  scroll-margin-top: 60px;

  @include media(desktop) {
    border-radius: 64px 64px 0 0;
    padding: 80px 0;
  }
}

.benefits-title {
  margin-bottom: 40px;
}

.benefits-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.benefits-text-wrapper {
  @include media(desktop) {
    max-width: 736px;
  }
}

.benefits-text {
  font-family: 'Onest', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #6b6b6b;
  margin-bottom: 40px;

  @include media(desktop) {
    max-width: 736px;
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.benefits-span {
  color: #0b0b0b;
}

.benefits-list {
  list-style-type: disc;
  padding-left: 26px;
  margin-bottom: 40px;

  li::marker {
    color: #f3561d;
  }
}

.benefits-item-text {
  font-family: 'Onest', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0b0b0b;
  line-height: 1.5;

  @include media(desktop) {
    font-size: 18px;
  }
}

.benefits-item-span {
  font-weight: 600;
  font-size: 18px;
  color: #f3561d;

  @include media(desktop) {
    font-size: 20px;
  }
}

.benefits-img {
  border-radius: 16px;

  @include media(desktop) {
    border-radius: 24px;
  }
}
