.footer {
  border-top: 1px solid #6b6b6b;
  padding-top: 40px;
  padding-bottom: 16px;
}

.footer-nav {
  text-align: center;
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-link {
  font-family: 'Onest', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #a2a2a2;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
    color: #fdfdfd;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.footer-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  color: #a2a2a2;

  @include media(desktop) {
    font-size: 12px;
  }
}
