.hero-section {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-margin-top: 60px;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.hero-title {
  font-family: 'Onest', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #a2a2a2;

  @include media(desktop) {
    font-size: 56px;
    max-width: 865px;
  }
}

.hero-title-span {
  color: #fdfdfd;
}
