.industry-section {
  border-radius: 0 0 32px 32px;
  padding: 40px 0;
  background: #fdfdfd;
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 70px;
    border-radius: 0 0 64px 64px;
    padding: 80px 0;
  }
}

.industry-title {
  margin-bottom: 40px;
}

.industry-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.industry-text-wrapper {
  @include media(desktop) {
    max-width: 736px;
  }
}

.industry-text {
  font-family: 'Onest', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0b0b;
  margin-bottom: 24px;

  @include media(desktop) {
    max-width: 736px;
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.industry-list {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.industry-item-text {
  font-family: 'Onest', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0b0b0b;
  line-height: 1.5;

  @include media(desktop) {
    font-size: 18px;
  }
}

.industry-item-span {
  font-weight: 600;
  font-size: 18px;
  color: #f3561d;

  @include media(desktop) {
    font-size: 20px;
  }
}

.industry-bottom-text {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.industry-span {
  color: #6b6b6b;
}

.industry-img {
  border-radius: 16px;

  @include media(desktop) {
    border-radius: 24px;
  }
}
