<section class="benefits-section" id="benefits">
  <div class="container benefits-container">
    <h2 class="benefits-title section-title">Why Choose Us?</h2>
    <div class="benefits-content-wrapper">
      <div class="benefits-text-wrapper">
        <p class="benefits-text">
          <span class="benefits-span"
            >Digital marketing is full of buzzwords, but</span
          >
          we focus on what actually works.
          <span class="benefits-span">Here’s what sets us apart:</span>
        </p>
        <ul class="benefits-list">
          <li class="benefits-list-item">
            <p class="benefits-item-text">
              <span class="benefits-item-span">Data-Driven Strategies:</span>
              Every campaign is backed by real-time data, ensuring maximum ROI.
            </p>
          </li>
          <li class="benefits-list-item">
            <p class="benefits-item-text">
              <span class="benefits-item-span"
                >Creative Content That Converts:</span
              >
              We blend engaging storytelling with performance marketing to drive
              results.
            </p>
          </li>
          <li class="benefits-list-item">
            <p class="benefits-item-text">
              <span class="benefits-item-span">AI-Powered Insights:</span> We
              leverage artificial intelligence to analyze user behavior and
              optimize campaigns dynamically.
            </p>
          </li>
          <li class="benefits-list-item">
            <p class="benefits-item-text">
              <span class="benefits-item-span">Trend-Setting Campaigns:</span>
              From viral social media trends to interactive ad formats, we
              create digital experiences that leave a mark.
            </p>
          </li>
          <li class="benefits-list-item">
            <p class="benefits-item-text">
              <span class="benefits-item-span">No Generic Solutions:</span>
              Every business is unique, and so are our strategies. We tailor
              each campaign to fit your specific goals and industry dynamics.
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/benefits/benefits-img-desk.png"
          media="(min-width: 1440px)"
          width="352"
          height="375"
        />
        <source
          srcset="./img/benefits/benefits-img-mob.png"
          width="343"
          height="375"
        />
        <img
          class="benefits-img"
          src="./img/benefits/benefits-img-mob.png"
          alt="Man holding light bulb"
          width="343"
          height="375"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
