<section class="industry-section" id="industry">
  <div class="container industry-container">
    <h2 class="industry-title section-title">Industry Roast</h2>
    <div class="industry-content-wrapper">
      <div class="industry-text-wrapper">
        <p class="industry-text">
          The digital world is full of trends, but let’s be real – not all of
          them make sense. We’re here to expose the good, the bad, and the
          ridiculous in digital marketing.
        </p>
        <ul class="industry-list">
          <li class="industry-list-item">
            <p class="industry-item-text">
              <span class="industry-item-span">"Let’s Go Viral" Syndrome:</span>
              Every brand wants a viral video, but let’s be honest – virality
              isn’t a strategy; it’s luck.
            </p>
          </li>
          <li class="industry-list-item">
            <p class="industry-item-text">
              <span class="industry-item-span">Endless A/B Testing:</span>
              Do we really need 200 ad variations, or are we just afraid to
              commit?
            </p>
          </li>
          <li class="industry-list-item">
            <p class="industry-item-text">
              <span class="industry-item-span"
                >The "Make the Logo Bigger" Obsession:</span
              >
              Because nothing says brand trust like a logo taking up 90% of the
              screen.
            </p>
          </li>
          <li class="industry-list-item">
            <p class="industry-item-text">
              <span class="industry-item-span">SEO Overload:</span>
              Keyword stuffing is out; high-quality, user-focused content is in.
              Stop writing for robots.
            </p>
          </li>
          <li class="industry-list-item">
            <p class="industry-item-text">
              <span class="industry-item-span">The Social Media Grind:</span>
              Posting daily on every platform? If the content isn’t engaging,
              does it even matter?
            </p>
          </li>
        </ul>
        <p class="industry-text industry-bottom-text">
          At Dibu Digital, we don’t follow trends blindly.<span
            class="industry-span"
          >
            We craft strategies</span
          >
          that
          <span class="industry-span">actually make sense for your brand.</span>
        </p>
      </div>
      <picture>
        <source
          srcset="./img/industry/industry-img-desk.png"
          media="(min-width: 1440px)"
          width="352"
          height="499"
        />
        <source
          srcset="./img/industry/industry-img-mob.png"
          width="343"
          height="467"
        />
        <img
          class="industry-img"
          src="./img/industry/industry-img-mob.png"
          alt="People working"
          width="343"
          height="467"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
