<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About us</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#benefits"
          >Why Choose Us?</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#industry"
          >Industry Roast</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#clients"
          >Client Confessions</a
        >
      </li>
    </ul>
  </nav>
</div>
